.editor {
  width: 100%;
  :global(.cm-editor) {
    background-color: transparent !important;
    padding: 12px !important;
    outline: none !important;
  }
  :global(.cm-scroller) {
    font-family: inherit !important;
    font-size: 14px;

    :global(.cm-gutters) {
      background-color: transparent !important;
      /* border-right: none !important; */
    }
  }
}
